@font-face {
	font-family: "Circus";
	src: url("/css/webfont/Circus.eot?#iefix") format("embedded-opentype"),
		url("/css/webfont/Circus.woff") format("woff"),
		url("/css/webfont/Circus.ttf") format("truetype"),
		url("/css/webfont/Circus.svg#Circus") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: rgb(237 215 172);
}

.App {
	text-align: center;
}

.lucky-numbers {
	text-align: center;
	font-family: "Rye";
	margin-bottom: 50px;
	margin-top: 50px;
}

header {
	font-family: "Circus";
	text-align: center;
	font-size: 30px;
	color: rgb(51 51 51);
	margin-top: 30px;
}

h1 {
	font-family: "Rye";
	font-size: 15px;
	text-align: center;
	color: rgb(91 91 91);
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	text-align: center;
	font-family: "Circus";
	margin-top: 50px;
}

h3 {
	font-family: "Circus";
	text-align: center;
	margin-top: 25px;
}

form {
	text-align: center;
	margin-bottom: 50px;
}

.greeting {
	text-align: center;
	font-family: "Rye";
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	/* border: 2px solid red; */
	font-family: "Circus";
	font-size: 25px;
	color: rgb(91 91 91);
}

.home-buttons {
	text-decoration: none;
	color: inherit;
	text-align: center;
	/* margin-left: 118px; */
}

.radio-button {
	font-family: "Rye";
}

.show-fortune {
	margin: (50px 0px);
}

.family,
.work,
.love {
	margin-bottom: 10px;
	background-image: url(./Images/Card.jpg);
	background-size: cover;
	width: 100px;
	height: 195px;
	/* border: 2px solid red; */
}

.friendship,
.prosperity {
	margin-bottom: 10px;
	background-image: url(./Images/Card.jpg);
	background-size: cover;
	width: 145px;
	height: 195px;
	/* border: 2px solid red; */
}

.thanks {
	text-align: center;
	font-family: "Rye";
}

.save-button {
	font-family: "Rye";
}

/* .badge {
	position: relative;
	width: 400px;
	border-radius: 50%;
	transform: rotate(-50deg);
} */

/* header span {
	height: 200px;
	position: absolute;
	width: 20px;
	left: 0;
	top: 0;
	transform-origin: bottom center;
} */

/* .char1 {
	transform: rotate(6deg);
}

.char2 {
	transform: rotate(12deg);
}

.char3 {
	transform: rotate(18deg);
}

.char4 {
	transform: rotate(24deg);
}

.char5 {
	transform: rotate(30deg);
}

.char6 {
	transform: rotate(36deg);
}

.char7 {
	transform: rotate(42deg);
}

.char8 {
	transform: rotate(48deg);
}

.char9 {
	transform: rotate(54deg);
}

.char10 {
	transform: rotate(60deg);
}

.char11 {
	transform: rotate(66deg);
}

.char12 {
	transform: rotate(72deg);
}

.char13 {
	transform: rotate(78deg);
}

.char14 {
	transform: rotate(84deg);
}

.char15 {
	transform: rotate(90deg);
}

.char16 {
	transform: rotate(96deg);
}

.char17 {
	transform: rotate(102deg);
}

.char18 {
	transform: rotate(108deg);
}

.char19 {
	transform: rotate(114deg);
}

.char20 {
	transform: rotate(120deg);
}

.char21 {
	transform: rotate(126deg);
}

.char22 {
	transform: rotate(132deg);
}

.char23 {
	transform: rotate(138deg);
}

.char24 {
	transform: rotate(144deg);
} */

@media only screen and (min-width: 1050px) {
	header {
		font-size: 50px;
		margin-bottom: 25px;
		margin-top: 45px;
	}

	h1 {
		font-size: 20px;
		margin-bottom: 15px;
	}

	.radio-button {
		margin-bottom: 25px;
		margin-top: 25px;
		font-size: 20px;
	}

	.family,
	.work,
	.love,
	.friendship,
	.prosperity {
		margin-bottom: 10px;
		background-image: url(./Images/Card.jpg);
		background-size: cover;
		width: 145px;
		height: 195px;
		/* border: 2px solid red; */
	}

	.save-button {
		font-size: 15px;
	}
}
