@font-face {
	font-family: "Circus";
	src: url("/css/webfont/Circus.eot?#iefix") format("embedded-opentype"),
		url("/css/webfont/Circus.woff") format("woff"),
		url("/css/webfont/Circus.ttf") format("truetype"),
		url("/css/webfont/Circus.svg#Circus") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Rye";
	background-image: url(./Images/swirl_pattern.png);
}

.fire {
	animation: animation 1s ease-in-out infinite alternate;
	-moz-animation: animation 1s ease-in-out infinite alternate;
	-webkit-animation: animation 1s ease-in-out infinite alternate;
	-o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
	animation: animation 0.65s ease-in-out infinite alternate;
	-moz-animation: animation 0.65s ease-in-out infinite alternate;
	-webkit-animation: animation 0.65s ease-in-out infinite alternate;
	-o-animation: animation 0.65s ease-in-out infinite alternate;
}

@keyframes animation {
	0% {
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
			-20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
			-20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
	}
	100% {
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
			-20px -20px 40px #feec85, 22px -42px 60px #ffae34,
			-22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
	}
}

.lucky-numbers {
	text-align: center;
}

header {
	font-family: "Circus";
	text-align: center;
	font-size: 32px;
	color: rgb(51 51 51);
	margin-top: 30px;
}

h1 {
	font-size: 12px;
	text-align: center;
	color: rgb(61 61 61);
	margin-top: 10px;
	margin-bottom: 0px;
}

h2 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	color: rgb(91 91 91);
}

h3 {
	text-align: center;
	margin-top: 5px;
	font-size: 25px;
}

form {
	text-align: center;
	margin-bottom: 10px;
}

.greeting {
	text-align: center;
	font-size: 25px;
	margin-top: 25px;
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	font-family: "Circus";
	font-size: 25px;
	color: rgb(91 91 91);
	margin-top: 30px;
}

.home-button-container {
	position: relative;
	text-align: center;
	font-size: 20px;
}

.home-buttons {
	text-decoration: none;
	color: inherit;
	padding: 2px 1px 0px 1px;
}

.home .home-buttons {
	position: relative;
	top: 100px;
	color: rgb(51 51 51);
	border: 3px solid rgb(91 91 91);
	background: rgba(255, 255, 255, 0.7);
}

.restart-container {
	text-align: center;
	color: rgb(61 61 61);
	border: 2px solid rgb(91 91 91);
	margin: 20px 130px 10px 130px;
	padding: 7px 0px;
	background-color: rgba(213, 150, 38, 0.6);
}

.radio-button {
	font-size: 16px;
	color: rgb(61 61 61);
	margin-top: 10px;
}

.show-fortune {
	align-self: center;
	margin: 0px 70px;
}

.crystal-ball {
	background-image: url(./Images/crystal-ball.png);
	background-size: contain;
	background-position: 0 10px;
	width: 299px;
	height: 299px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.family,
.work,
.love {
	margin-bottom: 10px;
	background-image: url(./Images/Card.jpg);
	background-size: cover;
	width: 120px;
	height: 195px;
}

.friendship,
.prosperity {
	margin-bottom: 10px;
	background-image: url(./Images/Card.jpg);
	background-size: cover;
	width: 145px;
	height: 195px;
}

.family .home-buttons {
	left: 10px;
}

.work .home-buttons,
.love .home-buttons {
	left: 11px;
}

.thanks {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.save-button {
	/* color: red; */
}

.results {
	color: rgb(81 81 81);
}

.footer {
	display: flex;
	flex-shrink: 0;
	border: 3px solid rgb(91 91 91);
	font-size: 10px;
	text-align: center;
	margin: 35px 25px 0px 25px;
	padding: 5px 20px;
}

@media only screen and (min-width: 600px) and (max-width: 1050px) {
	header {
		font-size: 45px;
		margin-bottom: 15px;
		margin-top: 35px;
	}

	h1 {
		font-size: 18px;
		margin-bottom: 15px;
	}

	h2,
	h3,
	.show-fortune,
	.lucky-numbers,
	.home-buttons,
	.greeting {
		font-size: 35px;
		margin-bottom: 15px;
	}

	.radio-button {
		margin: 10px 0px;

		font-size: 18px;
	}

	.lucky-numbers {
		margin-bottom: 20px;
	}

	.thanks {
		margin-bottom: 45px;
	}

	.home-buttons {
	}

	.family,
	.work,
	.love,
	.friendship,
	.prosperity {
		margin-bottom: 10px;
		background-image: url(./Images/Card.jpg);
		width: 200px;
		height: 275px;
	}

	.home .home-buttons {
		position: relative;
		font-size: 22px;
		top: 142px;
		color: rgb(51 51 51);
		border: 3px solid rgb(91 91 91);
		background: rgba(255, 255, 255, 0.7);
	}

	.work .home-buttons,
	.love .home-buttons,
	.family .home-buttons {
		left: 0px;
		padding: 2px 11px 0px 11px;
	}

	.restart-container {
		margin: 20px 320px;
	}

	.show-fortune {
		margin: 0px 175px 15px 175px;
	}

	.crystal-ball {
		width: 825px;
		height: 825px;
		max-width: 80vw;
		max-height: 80vw;
	}

	.crystal-ball-container {
		height: 770px;

		margin-top: -110px;
	}

	.footer {
		font-size: 12px;
		justify-content: center;
		margin-top: 120px;
	}
}

@media only screen and (min-width: 1050px) {
	header {
		font-size: 55px;
		margin-bottom: 25px;
		margin-top: 45px;
	}

	h1 {
		font-size: 20px;
		margin-bottom: 15px;
	}

	h2,
	h3,
	.show-fortune,
	.lucky-numbers {
		font-size: 38px;
		margin-bottom: 65px;
		color: rgb(61 61 61);
	}

	.greeting {
		font-size: 40px;
		margin-top: 65px;
	}

	.show-fortune {
		margin-top: 15px;
		margin-bottom: 65px;
	}

	.radio-button {
		margin-bottom: 25px;
		margin-top: 25px;
		font-size: 20px;
	}

	.family,
	.work,
	.love,
	.friendship,
	.prosperity {
		margin-bottom: 10px;
		background-image: url(./Images/Card.jpg);
		width: 200px;
		height: 275px;
	}

	.thanks {
		margin-bottom: 25px;
		margin-top: 18px;
		font-size: 18px;
	}

	.save-button {
		font-size: 15px;
	}

	.home .home-buttons {
		position: relative;
		font-size: 22px;
		top: 139px;
		color: rgb(51 51 51);
		border: 3px solid rgb(91 91 91);
		background: rgba(255, 255, 255, 0.7);
	}

	.work .home-buttons,
	.love .home-buttons,
	.family .home-buttons {
		left: 0px;
	}

	.restart-container {
		margin: 50px auto 25px auto;
		padding: 10px 0px;
		font-size: 25px;
		width: fit-content;
	}

	.show-fortune {
		margin: 0px 175px 15px 175px;
	}

	.crystal-ball-container {
		margin-top: -170px;
	}

	.crystal-ball {
		width: 825px;
		height: 825px;
	}

	.footer {
		justify-content: center;
	}
}
